.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    justify-content: space-evenly;
    
}   

.navbar__item {
    
    list-style-type: none;
    justify-content: space-around;
}

.navbar__logo {
    max-height: 6rem;
}

.nav-item {
   display: block;
}

.nav-link {
    padding: 3%;
}
